<div class="skipLine"></div>

<div style="margin-left:20px; width:100%; display:inline-block;">
        <form [formGroup]="theForm" >

            <label class="label">Server name</label> <input type="text" class="theInput" formControlName="nameServer">
            <div style="width:100%; display:inline-block;">
                <div  style=' width:300px; height:120px;  display:inline-block; margin-top:3px; margin-left:150px; border: solid 2px blue; background-color:cyan;'>
                    <span style="text-align: center; font-size:16px; width:100%; display:inline-block; padding-top:6px;">Select the server</span>
                    <li *ngFor="let server of tabServers; let m=index;" 
                            class="Straight-options "  [ngClass]=" {'even': m % 2 ===0, 'odd': m % 2 !==0}" 
                                (click)="selectServer($event)" id="selectedServer" [value]="server" >{{server}}
                    </li>
                </div>
            </div>  
            <br><br>
            <label class="label">Test or Prod</label> <input type="text" class="theInput" formControlName="testProd">
            
            <span class="theLine">
                <label class="label">server or HTTP</label> <input type="text" class="theInput" formControlName="server">
            </span>
            <span class="theLine">
                <label class="label">srcBucket</label> <input type="text" class="theInput" formControlName="srcBucket" id="srcBucket" (click)="pasteAction($event)">
                <label class="label">destBucket</label> <input type="text" class="theInput" formControlName="destBucket" id="destBucket" (click)="pasteAction($event)">
            </span>
            <span class="theLine">
                <label class="label">srcObject</label> <input type="text" class="theInput" formControlName="srcObject" id="srcObject" (click)="pasteAction($event)">
                <label class="label">destObject</label> <input type="text" class="theInput" formControlName="destObject" id="destObject" (click)="pasteAction($event)">
            </span>
            <span class="theLine">
                <label class="label">content</label> <input type="text" class="theInput" style='height:90px;' formControlName="fileContent">
            </span>
        </form>
        

        <button class="sizeButtons" id="1" (click)="reinitialise()">Reinitialise</button> 
</div>
<!--
    <button class="sizeButtons" id="2" (click)="onAction()">action</button> 
<div *ngIf="actionDropdown===true" style="margin-left:130px; margin-top:-200px;">
    <div class="dropdown " >
        <div class="Straight-content">
            <div  class="StraightDropDown " style="paddingn-left:10px; height:160px; width:180px;" >
                <li *ngFor="let action of tabAction; let m=index;" 
                        class="Straight-options "  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                            (click)="selectAction($event)" id="selectedAction" [value]="action" >{{action}}
                </li>
            </div>
        </div>
    </div>
    <div class="skipLine" style="'margin-top:50px;">&nbsp;</div>

</div>
-->



<div style="width:100%; display:inline-block">
    <div  style=' width:300px; height:240px; overflow-y:scroll; display:inline-block; margin-top:10px; margin-left:20px; border: solid 2px blue; background-color:cyan;'>
        <span style="text-align: center; font-size:16px; width:100%; display:inline-block; padding-top:6px;">Select the action</span>
        <li *ngFor="let action of tabAction; let m=index;" 
                class="Straight-options "  [ngClass]=" {'even': m % 2 ===0, 'odd': m % 2 !==0}" 
                    (click)="selectAction($event)" id="selectedAction" [value]="action" >{{action}}
        </li>
    </div>
</div>


<div class="skipLine"></div>
<div *ngIf="isConfirmedSave===true" style=' width:600px; display:inline-block;  margin-left:20px; border: solid 2px blue; background-color: lightblue;'>
    <div class="skipLine"></div>
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block;  text-align: center;'> Do you confirm action to SAVE file  <br> <br> {{theForm.controls['srcObject'].value}}</div>
    
    <button class="sizeButtons"   style="margin-left:200px; margin-top:10px;" id="Save" (click)="confirmSave($event)">Save</button> 
    <button class="sizeButtons" id="Cancel" (click)="confirmSave($event)">Cancel</button> 
    <div class="skipLine"></div>
</div>
<div *ngIf="isConfirmedDelete===true" style=' width:600px; display:inline-block;  margin-left:20px; border: solid 2px blue;  background-color: lightblue;'>
    <div class="skipLine"></div>
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; text-align: center;'> Do you confirm action to DELETE file <br> <br>{{theForm.controls['srcObject'].value}}</div>
    
    <button class="sizeButtons"  style="margin-left:200px; ; margin-top:10px;" id="Save" (click)="confirmDelete($event)">Delete</button> 
    <button class="sizeButtons" id="Cancel" (click)="confirmDelete($event)">Cancel</button> 
    <div class="skipLine"></div>
</div>

<!-- currentAction==='list all buckets' &&  -->
<div *ngIf="EventHTTPReceived[0]===true" class="response">
    <div class="skipLine"></div>
    <span style='font-size:20px; font-style: italic; width:600px; display:inline-block; padding-top:15px; margin-left:150px;'> list all buckets</span> 
    <div style=' width:600px; display:block; border: solid 2px blue; overflow-y:scroll; max-height:300px;'>
        <li style="list-style-type: none;" *ngFor="let listBucket of  TabBuckets; let i=index" id="bucket-{{listBucket.name}}" (click)="copySelection($event)">
            <span id="bucket-{{listBucket.name}}" class="theList" [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}">{{listBucket.name}}</span>
        </li>
    </div>
</div>
<!-- currentAction==='list all objects'  &&  -->
<div *ngIf="EventHTTPReceived[1]===true" class="response">
    <div class="skipLine"></div>
    <span style='font-size:20px; font-style: italic; width:600px; display:inline-block; padding-top:15px; margin-left:150px;'> List of objects from bucket {{theForm.controls['srcBucket'].value}}</span> 
    <div style=' width:600px; display:block; border: solid 2px blue; overflow-y:scroll; max-height:300px;'>
        <li style="list-style-type: none;" *ngFor="let listObject of  myListOfObjects.items; let i=index"  id="object-{{listObject.name}}" (click)="copySelection($event)">
            <span id="object-{{listObject.name}}" class="theList" [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}" >{{listObject.name}}</span>

        </li>
    </div>
</div>
<!-- currentAction==='get metadata for one object'  && -->
<div *ngIf=" EventHTTPReceived[4]===true" class="response">
    <div style=' width:100%; display:inline-block; border: solid 2px blue;'>

        <span style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;'> Metadata for object {{theForm.controls['srcObject'].value}}}</span> 
        <div class="skipLine"></div>
        <span class="theLine"><span class='label'>Bucket</span><span class='theMetadata'>{{oneMetadata.bucket}}</span></span>
        <span class="theLine"><span class='label'>Object</span><span class='theMetadata'>{{oneMetadata.name}}</span></span>
        <span class="theLine"><span class='label'>contentType</span><span class='theMetadata'>{{oneMetadata.contentType}}</span></span>
        <span class="theLine"><span class='label'>cacheControl</span><span class='theMetadata'>{{oneMetadata.cacheControl}}</span></span>
        <span class="theLine"> <span class='label'>generation</span><span class='theMetadata'>{{oneMetadata.generation}}</span></span>
        <span class="theLine"><span class='label'>id</span><span class='theMetadata'>{{oneMetadata.id}}</span></span>
        <span class="theLine"><span class='label'>mediaLink</span><span class='theMetadata'>{{oneMetadata.mediaLink}}</span></span>
        <span class="theLine"><span class='label'>size</span><span class='theMetadata'>{{oneMetadata.size}}</span></span>
        <span class="theLine"><span class='label'>metadataPerso</span><span class='theMetadata'>{{strMetaDataPerso}}</span></span>
        <div class="skipLine"></div>


    </div>
</div>
<!-- currentAction==='get list metadata for all objects'  &&  -->
<div *ngIf="EventHTTPReceived[3]===true" class="response">
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;' > List metadata for all objects</div> 
    <div class="skipLine"></div>
    <div style=' width:500px; display:block; border: solid 2px blue;  max-height:300px;  overflow-y:scroll; '>

        <li *ngFor="let Metadata of myListOfObjects.items; let i=index; " >
           
            <span style=' width:100%; display:inline-block; border: solid 2px red; '  [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}">
                <div class="skipLine"></div>
                <span class="theLine"> <span class='label'>Bucket</span><span class='theMetadata'>{{Metadata.bucket}}</span></span>
                <span class="theLine"><span class='label'>Object</span><span class='theMetadata'>{{Metadata.name}}</span></span>
                <span class="theLine"><span class='label'>contentType</span><span class='theMetadata'>{{Metadata.contentType}}</span></span>
                <span class="theLine"><span class='label'>cacheControl</span><span class='theMetadata'>{{Metadata.cacheControl}}</span></span>
                <span class="theLine"><span class='label'>generation</span><span class='theMetadata'>{{Metadata.generation}}</span></span>
                <span class="theLine"><span class='label'>id</span><span class='theMetadata'>{{Metadata.id}}</span></span>
                <span class="theLine"><span class='label'>mediaLink</span><span class='theMetadata'>{{Metadata.mediaLink}}</span></span>
                <span class="theLine"><span class='label'>size</span><span class='theMetadata'>{{Metadata.size}}</span></span>
                <span class="theLine"><span class='label'>metadataPerso</span><span class='theMetadata'>{{tabListMetaPerso[i]}}</span></span>
                <div class="skipLine"></div>
            </span>
        </li>
    </div>
    
</div>


<!--
<div *ngIf="(currentAction==='get memory File System' && this.EventHTTPReceived[11]===true) || (currentAction==='get memory File System'  && this.EventHTTPReceived[12]===true)" 
        style="margin-left:20px;">
-->
<div *ngIf="this.EventHTTPReceived[10]===true " 
        style="margin-left:20px;">
        <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;' > Server Cache Console</div> 
    <div class="skipLine"></div>
    <div style=' width:600px; display:block; border: solid 2px blue;  max-height:300px; overflow-y:scroll; '>
        <div *ngFor="let tab of memoryCacheConsole; let i=index " >
            <div style=' width:100%;  display:inline-block; border: solid 2px red; '>

                <span class="theLine"> <span class='label'>Date</span><span class='theMetadata'>{{tab.theDate}}</span></span>
          
                <span class="theLine"><span class='label'>Message</span><span class='theMetadata'>{{tab.msg}}</span></span>
                <span class="theLine"><span class='label'>Content</span><span class='theMetadata' style="width:70%; ">{{tab.content}}</span></span>
                <div class="skipLine"></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="this.EventHTTPReceived[11]===true || this.EventHTTPReceived[12]===true" 
        style="margin-left:20px;">
    <span *ngIf="error!==''" style="font-size:5px; color:red; background-color: cyan; width:120px; margin-left:10px; text-align: center; display:inline-block;">{{error}};</span>
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;' > Memory File System</div> 
    <div *ngFor="let tab of memoryFS; let i=index ">
        <span style=' width:100%; display:inline-block;'>
            <span style=' width:470px; display:inline-block; border: solid 2px red; text-align: center;'>{{tab.fileName}} </span>
        </span>
    
        <li *ngFor="let record of memoryFS[i].record; let j=index " style=' width:100%; display:inline-block; '>
            <div style=' width:470px; display:inline-block; border: solid 2px red; '>
                <div class="skipLine"></div>
                <span class="theLine"> <span class='label'>Bucket</span><span class='theMetadata'>{{record.bucket}}</span></span>
                <span class="theLine"><span class='label'>Object</span><span class='theMetadata'>{{record.object}}</span></span>
                <span class="theLine"><span class='label'>By user</span><span class='theMetadata'>{{record.byUser}}</span></span>
                <span class="theLine"><span class='label'>Created at</span><span class='theMetadata'>{{record.createdAt}}</span></span>
                <span class="theLine"><span class='label'>Updated at</span><span class='theMetadata'>{{record.updatedAt}}</span></span>
                <span class="theLine"><span class='label'>Credential date</span><span class='theMetadata'>{{record.credentialDate}}</span></span>
                <span class="theLine"><span class='label'>User server id</span><span class='theMetadata'>{{record.userServerId}}</span></span>
                <span class="theLine"><span class='label'>Lock</span><span class='theMetadata'>{{record.lock}}</span></span>
                <span class="theLine"><span class='label'>Timeout hour(s)</span><span *ngIf="record.timeoutFileSystem!==undefined" class='theMetadata'>{{record.timeoutFileSystem.hh}}</span></span>
                <span class="theLine"><span class='label'>Timeout minute(s)</span><span *ngIf="record.timeoutFileSystem!==undefined" class='theMetadata'>{{record.timeoutFileSystem.mn}}</span></span>
                <div class="skipLine"></div>
            </div>
        </li>
    </div>
</div>
<div class="skipLine"></div>
<div *ngIf="currentAction!=='' && currentAction!=='get list metadata for all objects' && currentAction!=='get metadata for one object' && currentAction!=='list all objects' && currentAction!=='list all buckets' 
            && currentAction!=='get memory File System' && currentAction!=='get memory File System' && currentAction!=='cache console'" 
        class="response" style="width:700px;  display:inline-block;">
            <div style="height:30px; font-size:18px; text-align:center; background-color:cyan; width:600px; display:inline-block; border:solid 2px green;"> Response on action {{currentAction}}</div> 

            <div style="background-color:cyan; width:600px;  border:solid 2px green; ">
                <div *ngIf="returnFileContent!==''" style='display:block; font-size:14px; width:570px; overflow-y:scroll; height:300px;  overflow-y:scroll; font-style: normal; margin-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; text-align: left;'>{{returnFileContent}} </div>
                 <span *ngIf="error!==''" style='font-size:10px; font-style: normal;'>{{error}} </span>
            </div>
</div>

<div class="skipLine"></div>
<div style=' width:600px; display:inline-block;  margin-left:20px; border: solid 2px blue;'> <!--  *ngIf="currentAction==='updateMetadata' -->
    <h2 style="margin-left:230px;">Create metadata</h2>
    <form [formGroup]="theForm" >
    <div style="margin-top:8px;">
        <span class="theLine">
            <label class="label">Controls</label> <input type="text" class="theInput" formControlName="metaControl">
        </span>
        <span class="theLine">
            <label class="label">Type</label> <input type="text" class="theInput" formControlName="metaType">
        </span>
       
    </div>
    </form>

        <div *ngFor="let tab of tabMetaPerso; let i=index">
            <label style="width:80px; padding-left:10px;">Key {{i}}</label> <input style="width:200px; background-color:lightgrey" type="text" id="K-{{i}}" (input)="inputMetaPerso($event)" value="{{tab.key}}">
            <label style="width:80px; padding-left:10px;">Value {{i}}</label> <input style="width:200px; background-color:lightgrey" type="text" id="V-{{i}}" (input)="inputMetaPerso($event)"  value="{{tab.value}}">
        </div>
        
        <span class="theLine"><span *ngIf="strMetaDataPerso!==''" class='label'>metadataPerso</span><span class='theMetadata'>{{strMetaDataPerso}}</span></span>
        <span class="theLine"><span *ngIf="metaDataMsg!==''" class='label'>Server msg</span><span class='theMetadata'>{{metaDataMsg}}</span></span>
        <div class="skipLine" >&nbsp;</div>
    <button class="sizeButtons" style="width:80px;margin-top:10px; height:35px; margin-left:230px;" id="1" (click)="actionUpdateMeta()">Submit</button>
    <div class="skipLine" >&nbsp;</div>
</div>


<div class="skipLine"></div>
<div class="skipLine"></div>