<div class="skipLine"></div>


<div style="margin-left:20px; width:100%; display:inline-block;">
        <form [formGroup]="theForm" >

            <label class="label">Server name</label> <input type="text" class="theInput" formControlName="nameServer">
            <div style="width:100%; display:inline-block;">
                <div  style=' width:300px; height:120px;  display:inline-block; margin-top:3px; margin-left:150px; border: solid 2px blue; background-color:cyan;'>
                    <span style="text-align: center; font-size:16px; width:100%; display:inline-block; padding-top:6px;">Select the server</span>
                    <li *ngFor="let server of tabServers; let m=index;" 
                            class="Straight-options "  [ngClass]=" {'even': m % 2 ===0, 'odd': m % 2 !==0}" 
                                (click)="selectServer($event)" id="selectedServer" [value]="server" >{{server}}
                    </li>
                </div>
            </div>  
            <br><br>
            <label class="label">Test or Prod</label> <input type="text" class="theInput" formControlName="testProd">
            
            <span class="theLine">
                <label class="label">server or HTTP</label> <input type="text" class="theInput" formControlName="server">
            </span>
            <span class="theLine">
                <label class="label">srcBucket</label> <input type="text" class="theInput" formControlName="srcBucket">
                <label class="label">destBucket</label> <input type="text" class="theInput" formControlName="destBucket">
            </span>
            <span class="theLine">
                <label class="label">srcObject</label> <input type="text" class="theInput" formControlName="srcObject">
                <label class="label">destObject</label> <input type="text" class="theInput" formControlName="destObject">
            </span>
            <span class="theLine">
                <label class="label">content</label> <input type="text" class="theInput" style='height:90px;' formControlName="fileContent">
            </span>
        </form>
        

        <button class="sizeButtons" id="1" (click)="reinitialise()">Reinitialise</button> 
</div>
<!--
    <button class="sizeButtons" id="2" (click)="onAction()">action</button> 
<div *ngIf="actionDropdown===true" style="margin-left:130px; margin-top:-200px;">
    <div class="dropdown " >
        <div class="Straight-content">
            <div  class="StraightDropDown " style="paddingn-left:10px; height:160px; width:180px;" >
                <li *ngFor="let action of tabAction; let m=index;" 
                        class="Straight-options "  [ngClass]=" {'colorEven': m % 2 ===0, 'colorOdd': m % 2 !==0}" 
                            (click)="selectAction($event)" id="selectedAction" [value]="action" >{{action}}
                </li>
            </div>
        </div>
    </div>
    <div class="skipLine" style="'margin-top:50px;">&nbsp;</div>

</div>
-->



<div style="width:100%; display:inline-block">
    <div  style=' width:300px; height:240px; overflow-y:scroll; display:inline-block; margin-top:10px; margin-left:20px; border: solid 2px blue; background-color:cyan;'>
        <span style="text-align: center; font-size:16px; width:100%; display:inline-block; padding-top:6px;">Select the action</span>
        <li *ngFor="let action of tabAction; let m=index;" 
                class="Straight-options "  [ngClass]=" {'even': m % 2 ===0, 'odd': m % 2 !==0}" 
                    (click)="selectAction($event)" id="selectedAction" [value]="action" >{{action}}
        </li>
    </div>
</div>

<div style=' width:600px; display:inline-block;  margin-left:20px; border: solid 2px blue;'> <!--  *ngIf="currentAction==='updateMetadata' -->
    <h2 style="margin-left:230px;">Create metadata</h2>
    <form [formGroup]="theForm" >
    <div style="margin-top:8px;">
        <span class="theLine">
            <label class="label">Controls</label> <input type="text" class="theInput" formControlName="metaControl">
        </span>
        <span class="theLine">
            <label class="label">Type</label> <input type="text" class="theInput" formControlName="metaType">
        </span>
       
    </div>
    </form>

        <div *ngFor="let tab of tabMetaPerso; let i=index">
            <label style="width:80px; padding-left:10px;">Key {{i}}</label> <input style="width:200px; background-color:lightgrey" type="text" id="K-{{i}}" (input)="inputMetaPerso($event)" value="{{tab.key}}">
            <label style="width:80px; padding-left:10px;">Value {{i}}</label> <input style="width:200px; background-color:lightgrey" type="text" id="V-{{i}}" (input)="inputMetaPerso($event)"  value="{{tab.value}}">
        </div>
        
        <span class="theLine"><span *ngIf="strMetaDataPerso!==''" class='label'>metadataPerso</span><span class='theMetadata'>{{strMetaDataPerso}}</span></span>
        <span class="theLine"><span *ngIf="metaDataMsg!==''" class='label'>Server msg</span><span class='theMetadata'>{{metaDataMsg}}</span></span>
        <div class="skipLine" >&nbsp;</div>
    <button class="sizeButtons" style="width:80px;margin-top:10px; height:35px; margin-left:230px;" id="1" (click)="actionUpdateMeta()">Submit</button>
    <div class="skipLine" >&nbsp;</div>
</div>




<div class="skipLine"></div>
<div *ngIf="isConfirmedSave===true">
    <div class="skipLine"></div>
    <span style='font-size:20px; font-style: italic; width:100%; display:inline-block;'> Do you confirm action to SAVE</span>
    
    <button class="sizeButtons" id="Save" (click)="confirmSave($event)">Save</button> 
    <button class="sizeButtons" id="Cancel" (click)="confirmSave($event)">Cancel</button> 
</div>


<div *ngIf="currentAction==='list all buckets' && EventHTTPReceived[0]===true" class="response">
    <div class="skipLine"></div>
    <span style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;'> Response  on action {{currentAction}}</span> 
    <li style="list-style-type: none;" *ngFor="let listBucket of  TabBuckets; let i=index"  >
        <span  style="font-size:12px; width:45%; padding-left:10px; display:inline-block;" [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}">{{listBucket.name}}</span>
    </li>
</div>
<div *ngIf="currentAction==='list all objects'  && EventHTTPReceived[1]===true" class="response">
    <div class="skipLine"></div>
    <span style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;'> Response  on action {{currentAction}}</span> 
    <div style=' width:100%; display:inline-block; border: solid 2px blue; overflow-y:scroll; height:300px;'>
        <li style="list-style-type: none;" *ngFor="let listObject of  myListOfObjects.items; let i=index"  >
            <span [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}" style='font-size:16px; height:25px;  padding-top:2px; width:100%; display:inline-block; padding-left:10px;'>{{listObject.name}}</span>

        </li>
    </div>
</div>
<div *ngIf="currentAction==='get metadata for one object'  && EventHTTPReceived[4]===true" class="response">
    <div style=' width:100%; display:inline-block; border: solid 2px blue;'>

        <span style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;'> Response  on action {{currentAction}}</span> 
        <div class="skipLine"></div>
        <span class="theLine"><span class='label'>Bucket</span><span class='theMetadata'>{{oneMetadata.bucket}}</span></span>
        <span class="theLine"><span class='label'>Object</span><span class='theMetadata'>{{oneMetadata.name}}</span></span>
        <span class="theLine"><span class='label'>contentType</span><span class='theMetadata'>{{oneMetadata.contentType}}</span></span>
        <span class="theLine"><span class='label'>cacheControl</span><span class='theMetadata'>{{oneMetadata.cacheControl}}</span></span>
        <span class="theLine"> <span class='label'>generation</span><span class='theMetadata'>{{oneMetadata.generation}}</span></span>
        <span class="theLine"><span class='label'>id</span><span class='theMetadata'>{{oneMetadata.id}}</span></span>
        <span class="theLine"><span class='label'>mediaLink</span><span class='theMetadata'>{{oneMetadata.mediaLink}}</span></span>
        <span class="theLine"><span class='label'>size</span><span class='theMetadata'>{{oneMetadata.size}}</span></span>
        <span class="theLine"><span class='label'>metadataPerso</span><span class='theMetadata'>{{strMetaDataPerso}}</span></span>
        <div class="skipLine"></div>


    </div>
</div>
<div *ngIf="currentAction==='get list metadata for all objects'  && EventHTTPReceived[3]===true" class="response">
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;' > Response  on action {{currentAction}}</div> 
    <div class="skipLine"></div>
    <div style=' width:100%; display:inline-block; border: solid 2px blue; overflow-y:scroll; height:300px;'>
        

        <li *ngFor="let Metadata of myListOfObjects.items; let i=index; ">
           
            <span style=' width:100%; display:inline-block; border: solid 2px red; '  [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}">
                <div class="skipLine"></div>
                <span class="theLine"> <span class='label'>Bucket</span><span class='theMetadata'>{{Metadata.bucket}}</span></span>
                <span class="theLine"><span class='label'>Object</span><span class='theMetadata'>{{Metadata.name}}</span></span>
                <span class="theLine"><span class='label'>contentType</span><span class='theMetadata'>{{Metadata.contentType}}</span></span>
                <span class="theLine"><span class='label'>cacheControl</span><span class='theMetadata'>{{Metadata.cacheControl}}</span></span>
                <span class="theLine"><span class='label'>generation</span><span class='theMetadata'>{{Metadata.generation}}</span></span>
                <span class="theLine"><span class='label'>id</span><span class='theMetadata'>{{Metadata.id}}</span></span>
                <span class="theLine"><span class='label'>mediaLink</span><span class='theMetadata'>{{Metadata.mediaLink}}</span></span>
                <span class="theLine"><span class='label'>size</span><span class='theMetadata'>{{Metadata.size}}</span></span>
                <span class="theLine"><span class='label'>metadataPerso</span><span class='theMetadata'>{{tabListMetaPerso[i]}}</span></span>
                <div class="skipLine"></div>
            </span>
        </li>
    </div>
    
</div>
<div class="skipLine"></div>
<div *ngIf="currentAction!=='get list metadata for all objects' && currentAction!=='get metadata for one object' && currentAction!=='list all objects' && currentAction!=='list all buckets'" class="response" 
            style="margin-left:10px; background-color:cyan; :80%; height:300px; overflow-y:scroll; display:inline-block; border:solid 2px green;">
    <div class="skipLine"></div>
    <span style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;'> Response on action {{currentAction}}</span> 
    <div *ngIf="returnFileContent!==''" style='font-size:10px; font-style: normal; margin-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; text-align: left;'>{{returnFileContent}} </div>
    <span *ngIf="error!==''" style='font-size:10px; font-style: normal;'>{{error}} </span>
</div>
<div class="skipLine"></div>
<div class="skipLine"></div>

