
<div style="margin-left:20px; width:600px; height:50px; background-color:skyblue; display:inline-block; border:solid 2px green; margin-top:15px;">
    <form [formGroup]="theForm" >
        <div class="label" style="margin-top:16px; margin-left:20px;">Server name</div> <input type="text" class="theInput" formControlName="nameServer" (click)="onActionServer()">
        <div *ngIf="isSelectServer===true" style="width:100%; display:inline-block;" >
            <div  style=' width:400px; height:120px;  display:inline-block; margin-top:3px; margin-left:150px; border: solid 2px blue; background-color:cyan;'>
                <span style="text-align: center; font-size:16px; width:100%; display:inline-block; padding-top:6px;">Select the server</span>
                <li *ngFor="let server of tabServers; let m=index;" 
                        class="Straight-options "  [ngClass]=" {'even': m % 2 ===0, 'odd': m % 2 !==0}" 
                            (click)="selectServer($event)" id="selectedServer" [value]="server" >{{server}}
                </li>
            </div>
        </div>  
    </form>
</div>
<div style="margin-left:20px; width:620px; display:block;" *ngIf="isInitDone===true">
        <app-tutorials [configServer]="newConfigServer" [credentials]="credentials"> 
        </app-tutorials>
</div>
<div class="skipLine"></div>


<div style="margin-left:20px; width:320px; display:inline-block; height:240px; max-height:240px; border:solid 2px green; overflow-y:scroll;">
    <span style="text-align: center; font-size:16px; width:100%; display:inline-block; padding-top:2px; background-color:lightyellow;">Input the parameters</span>
    <form [formGroup]="theForm" >
        <span class="theLine">
            <label class="label">Test or Prod</label> <input type="text" class="theInputMid" formControlName="testProd">
        </span>
        <span class="theLine">
            <label class="label">server or HTTP</label> <input type="text" class="theInputMid" formControlName="server">
        </span>
        <span class="theLine">
            <label class="label">Google/Mongo</label> <input type="text" class="theInputMid" formControlName="dataBase">
        </span>
        <span class="theLine">
            <label class="label">srcBucket</label> <input type="text" class="theInputMid" formControlName="srcBucket" id="srcBucket" (contextmenu)="pasteAction($event)">
        </span>
        <span class="theLine">
            <label class="label">destBucket</label> <input type="text" class="theInputMid" formControlName="destBucket" id="destBucket" (contextmenu)="pasteAction($event)">
        </span>
        <span class="theLine">
            <label class="label">srcObject</label> <input type="text" class="theInputMid" formControlName="srcObject" id="srcObject" (contextmenu)="pasteAction($event)">
        </span>
        <span class="theLine">
            <label class="label">destObject</label> <input type="text" class="theInputMid" formControlName="destObject" id="destObject" (contextmenu)="pasteAction($event)">
        </span>
        <span class="theLine">
            <label class="label">content</label> <input type="text" class="theInputMid" style='height:90px;' formControlName="fileContent">
        </span>
    </form>
        
    <button class="sizeButtons" id="1" (click)="reinitialise()">Reinitialise</button> 
</div>
    
<div style="margin-left:20px; width:320px; display:inline-block; background-color:white; height:240px; max-height:240px; overflow-y:scroll; ">
    <span style="text-align: center; font-size:16px; width:100%; display:inline-block; padding-top:6px; background-color:lightyellow;">Select the action</span>
    <div  style=' width:100%;  display:inline-block;'>
        <div *ngIf="theForm.controls['dataBase'].value.toLowerCase()==='google'">
            <li *ngFor="let action of tabAction; let m=index;" 
                        class="Straight-options "  [ngClass]=" {'even': m % 2 ===0, 'odd': m % 2 !==0}" 
                                (click)="selectAction($event)" id="selectedAction" >{{action}}
            </li>
        </div>
        <div *ngIf="theForm.controls['dataBase'].value.toLowerCase()==='mongo'"  >
                
            <li *ngFor="let action of tabActionMongo; let m=index;" 
                        class="Straight-options " style="height:30px;" [ngClass]=" {'even': m % 2 ===0, 'odd': m % 2 !==0}" 
                                (click)="selectAction($event)" id="selectedAction" [value]="action" >{{action}} 
                    <span *ngIf="action==='list config'" ><input type="text" class="selTitle" placeholder="test_prod to search" value={{titleConfig}} (input)="storeTitle($event)">  </span>
            </li>
        </div>
    </div>
</div>

<div class="skipLine"></div>
<div *ngIf="isConfirmedSave===true" style=' width:600px; display:inline-block;  margin-left:20px; border: solid 2px blue; background-color: lightblue;'>
    <div class="skipLine"></div>
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block;  text-align: center;'> Do you confirm action to SAVE file  <br> <br> {{theForm.controls['srcObject'].value}}</div>
    
    <button class="sizeButtons"   style="margin-left:200px; margin-top:10px;" id="Save" (click)="confirmSave($event)">Save</button> 
    <button class="sizeButtons" id="Cancel" (click)="confirmSave($event)">Cancel</button> 
    <div class="skipLine"></div>
</div>
<div *ngIf="isConfirmedDelete===true" style=' width:600px; display:inline-block;  margin-left:20px; border: solid 2px blue;  background-color: lightblue;'>
    <div class="skipLine"></div>
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; text-align: center;'> Do you confirm action to DELETE file <br> <br>{{theForm.controls['srcObject'].value}}</div>
    
    <button class="sizeButtons"  style="margin-left:200px; ; margin-top:10px;" id="Save" (click)="confirmDelete($event)">Delete</button> 
    <button class="sizeButtons" id="Cancel" (click)="confirmDelete($event)">Cancel</button> 
    <div class="skipLine"></div>
</div>

<!-- currentAction==='list all buckets' &&  -->
<div *ngIf="EventHTTPReceived[0]===true" class="response">
    <div class="skipLine"></div>
    <span style='font-size:20px; font-style: italic; width:600px; display:inline-block; padding-top:15px; margin-left:150px;'> list all buckets</span> 
    <div style=' width:600px; display:block; border: solid 2px blue; overflow-y:scroll; max-height:300px;'>
        <li style="list-style-type: none;" *ngFor="let listBucket of  TabBuckets; let i=index" id="bucket-{{listBucket.name}}" (click)="copySelection($event)">
            <span id="bucket-{{listBucket.name}}" class="theList" [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}">{{listBucket.name}}</span>
        </li>
    </div>
</div>
<!-- currentAction==='list all objects'  &&  -->
<div *ngIf="EventHTTPReceived[1]===true" class="response">
    <div class="skipLine"></div>
    <span style='font-size:20px; font-style: italic; width:600px; display:inline-block; padding-top:15px; margin-left:150px;'> List of objects from bucket {{theForm.controls['srcBucket'].value}}</span> 
    <div style=' width:600px; display:block; border: solid 2px blue; overflow-y:scroll; max-height:300px;'>
        <li style="list-style-type: none;" *ngFor="let listObject of  myListOfObjects.items; let i=index"  id="object-{{listObject.name}}" (click)="copySelection($event)">
            <span id="object-{{listObject.name}}" class="theList" [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}" >{{listObject.name}}</span>

        </li>
    </div>
</div>
<!-- currentAction==='get metadata for one object'  && -->
<div *ngIf=" EventHTTPReceived[4]===true" class="response">
    <div style=' width:100%; display:inline-block; border: solid 2px blue;'>

        <span style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;'> Metadata for object {{theForm.controls['srcObject'].value}}}</span> 
        <div class="skipLine"></div>
        <span class="theLine"><span class='label'>Bucket</span><span class='theMetadata'>{{oneMetadata.bucket}}</span></span>
        <span class="theLine"><span class='label'>Object</span><span class='theMetadata'>{{oneMetadata.name}}</span></span>
        <span class="theLine"><span class='label'>contentType</span><span class='theMetadata'>{{oneMetadata.contentType}}</span></span>
        <span class="theLine"><span class='label'>cacheControl</span><span class='theMetadata'>{{oneMetadata.cacheControl}}</span></span>
        <span class="theLine"> <span class='label'>generation</span><span class='theMetadata'>{{oneMetadata.generation}}</span></span>
        <span class="theLine"><span class='label'>id</span><span class='theMetadata'>{{oneMetadata.id}}</span></span>
        <span class="theLine"><span class='label'>mediaLink</span><span class='theMetadata'>{{oneMetadata.mediaLink}}</span></span>
        <span class="theLine"><span class='label'>size</span><span class='theMetadata'>{{oneMetadata.size}}</span></span>
        <span class="theLine"><span class='label'>metadataPerso</span><span class='theMetadata'>{{strMetaDataPerso}}</span></span>
        <div class="skipLine"></div>


    </div>
</div>
<!-- currentAction==='get list metadata for all objects'  &&  -->
<div *ngIf="EventHTTPReceived[3]===true" class="response">
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;' > List metadata for all objects</div> 
    <div class="skipLine"></div>
    <div style=' width:500px; display:block; border: solid 2px blue;  max-height:300px;  overflow-y:scroll; '>

        <li *ngFor="let Metadata of myListOfObjects.items; let i=index; " >
           
            <span style=' width:100%; display:inline-block; border: solid 2px red; '  [ngClass]="{'even': i % 2 ===0, 'odd': i % 2 !==0}">
                <div class="skipLine"></div>
                <span class="theLine"> <span class='label'>Bucket</span><span class='theMetadata'>{{Metadata.bucket}}</span></span>
                <span class="theLine"><span class='label'>Object</span><span class='theMetadata'>{{Metadata.name}}</span></span>
                <span class="theLine"><span class='label'>contentType</span><span class='theMetadata'>{{Metadata.contentType}}</span></span>
                <span class="theLine"><span class='label'>cacheControl</span><span class='theMetadata'>{{Metadata.cacheControl}}</span></span>
                <span class="theLine"><span class='label'>generation</span><span class='theMetadata'>{{Metadata.generation}}</span></span>
                <span class="theLine"><span class='label'>id</span><span class='theMetadata'>{{Metadata.id}}</span></span>
                <span class="theLine"><span class='label'>mediaLink</span><span class='theMetadata'>{{Metadata.mediaLink}}</span></span>
                <span class="theLine"><span class='label'>size</span><span class='theMetadata'>{{Metadata.size}}</span></span>
                <span class="theLine"><span class='label'>metadataPerso</span><span class='theMetadata'>{{tabListMetaPerso[i]}}</span></span>
                <div class="skipLine"></div>
            </span>
        </li>
    </div>
    
</div>


<!--
<div *ngIf="(currentAction==='get memory File System' && this.EventHTTPReceived[11]===true) || (currentAction==='get memory File System'  && this.EventHTTPReceived[12]===true)" 
        style="margin-left:20px;">
-->
<div *ngIf="this.EventHTTPReceived[10]===true " 
        style="margin-left:20px;">
        <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;' > Server Cache Console</div> 
    <div class="skipLine"></div>
    <div style=' width:600px; display:block; border: solid 2px blue;  max-height:300px; overflow-y:scroll; '>
        <div *ngFor="let tab of memoryCacheConsole; let i=index " >
            <div style=' width:100%;  display:inline-block; border: solid 2px red; '>

                <span class="theLine"> <span class='label'>Date</span><span class='theMetadata'>{{tab.theDate}}</span></span>
          
                <span class="theLine"><span class='label'>Message</span><span class='theMetadata'>{{tab.msg}}</span></span>
                <span class="theLine"><span class='label'>Content</span><span class='theMetadata' style="width:70%; ">{{tab.content}}</span></span>
                <div class="skipLine"></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="this.EventHTTPReceived[11]===true || this.EventHTTPReceived[12]===true" 
        style="margin-left:20px;">
    <span *ngIf="error!==''" style="font-size:5px; color:red; background-color: cyan; width:120px; margin-left:10px; text-align: center; display:inline-block;">{{error}};</span>
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:15px; margin-left:150px;' > Memory File System</div> 
    <div *ngFor="let tab of memoryFS; let i=index ">
        <span style=' width:100%; display:inline-block;'>
            <span style=' width:470px; display:inline-block; border: solid 2px red; text-align: center;'>{{tab.fileName}} </span>
        </span>
    
        <li *ngFor="let record of memoryFS[i].record; let j=index " style=' width:100%; display:inline-block; '>
            <div style=' width:470px; display:inline-block; border: solid 2px red; '>
                <div class="skipLine"></div>
                <span class="theLine"> <span class='label'>Bucket</span><span class='theMetadata'>{{record.bucket}}</span></span>
                <span class="theLine"><span class='label'>Object</span><span class='theMetadata'>{{record.object}}</span></span>
                <span class="theLine"><span class='label'>By user</span><span class='theMetadata'>{{record.byUser}}</span></span>
                <span class="theLine"><span class='label'>Created at</span><span class='theMetadata'>{{record.createdAt}}</span></span>
                <span class="theLine"><span class='label'>Updated at</span><span class='theMetadata'>{{record.updatedAt}}</span></span>
                <span class="theLine"><span class='label'>Credential date</span><span class='theMetadata'>{{record.credentialDate}}</span></span>
                <span class="theLine"><span class='label'>User server id</span><span class='theMetadata'>{{record.userServerId}}</span></span>
                <span class="theLine"><span class='label'>Lock</span><span class='theMetadata'>{{record.lock}}</span></span>
                <span class="theLine"><span class='label'>Timeout hour(s)</span><span *ngIf="record.timeoutFileSystem!==undefined" class='theMetadata'>{{record.timeoutFileSystem.hh}}</span></span>
                <span class="theLine"><span class='label'>Timeout minute(s)</span><span *ngIf="record.timeoutFileSystem!==undefined" class='theMetadata'>{{record.timeoutFileSystem.mn}}</span></span>
                <div class="skipLine"></div>
            </div>
        </li>
    </div>
</div>

<div *ngIf="this.EventHTTPReceived[13]===true " style="margin-left:20px; width:600px; display:inline-block; border: solid 2px black; height:244px; ">
    <div style='font-size:20px; font-style: italic; width:100%; display:inline-block; padding-top:8px; text-align: center; height:40px; background-color: rgb(246, 125, 125);  ' > Selected record from Config Server</div> 
    <div style='width:100%; display:inline-block; max-height:200px; overflow-y:scroll;  background-color: rgb(246, 125, 125);  '>
        <span class="theLine" > <span class='label'>id</span><span class='configInputLong'>{{idMongo}}</span></span> 
        <span class="theLine"> <span class='label'>Test/Prod</span><input type="text" class='configInputLong' value={{retrievedConfigServer.test_prod}} (input)="onInputConfig($event)" id="test_prod"></span>
        <span class="theLine"> <span class='label'>Title</span><input type="text" class='configInputLong' value={{retrievedConfigServer.title}}  (input)="onInputConfig($event)" id="title"></span>
        <span class="theLine"> <span class='label'>base Url</span><input type="text" class='configInputLong'value= {{retrievedConfigServer.baseUrl}}  (input)="onInputConfig($event)" id="baseUrl"></span>
        <span class="theLine"> <span class='label'>Mongo/Google</span><input type="text" class='configInput' value={{retrievedConfigServer.Mongo_Google}}  (input)="onInputConfig($event)" id="Mongo_Google"></span>  
        <span class="theLine"> <span class='label'>Google project id</span><input type="text" class='configInput' value={{retrievedConfigServer.GoogleProjectId}}></span>  
        <span class="theLine"> <span class='label'>Source </span><input type="text" class='configInput' value={{retrievedConfigServer.SourceJson_Google_Mongo}}></span>  
        <div class="theLine" style="height:15px;"> <span class='label'>Files to cache</span></div>

            <div *ngFor="let tab of retrievedConfigServer.filesToCache; let i=index" >
                <div *ngIf="i % 2 === 0" style="width:100%; display:inline-block; ">
                    <div style="margin-left:20px; display:inline-block; width:45%; height:30px;">
                        <input type="text"  class='configInput'  style='height:25px;' value={{tab.bucket}}  (input)="onInputFileToCache($event)" id="buck-{{i}}"> 
                        <input type="text"  class='configInput'  style='height:25px;' value={{tab.object}}  (input)="onInputFileToCache($event)" id="obje-{{i}}"> 
                    </div>
                    <div *ngIf="i<retrievedConfigServer.filesToCache.length -1" style="margin-left:6px; display:inline-block; width:45%; height:30px;">
                        <input type="text"  class='configInput'  style='height:25px;' value={{retrievedConfigServer.filesToCache[i+1].bucket}}  (input)="onInputFileToCache($event)" id="buck-{{i}}"> 
                        <input type="text"  class='configInput'  style='height:25px;' value={{retrievedConfigServer.filesToCache[i+1].object}}  (input)="onInputFileToCache($event)" id="obje-{{i}}"> 
                    </div>

                </div>
            </div>

        <div class="theLine" style="height:15px;"> <span class='label'>PoR bucket</span></div>
        <div class="theLine"> <span class='label' style="margin-left:20px;">Bucket</span><input type="text"  class='configInput' value={{retrievedConfigServer.PointOfRef.bucket}}  (input)="onInputConfig($event)" id="PoRBucket"> 
        <span class='labelShort' style="margin-left:6px;"> object</span><input type="text"  class='configInput' value={{retrievedConfigServer.PointOfRef.file}}  (input)="onInputConfig($event)" id="PoRObject"></div> 

        <div class="theLine"  style="height:15px;"> <span class='label'>File System </span></div>
        <div class="theLine" > <span class='label' style="margin-left:20px;">Bucket</span><input type="text"  class='configInput' value={{retrievedConfigServer.bucketFileSystem}}  (input)="onInputConfig($event)" id="FSBucket"> 
        <span class='labelShort' style="margin-left:6px;"> object</span><input type="text"  class='configInput' value={{retrievedConfigServer.objectFileSystem}}  (input)="onInputConfig($event)" id="FSObject"></div> 

        <div class="theLine"  style="height:15px;"> <span class='label'>Time Out </span></div>
        <div class="theLine" style="margin-left:20px;"> <span class='label'>Hour(s)</span><input type="text"  class='configInputShort textCenter'   value={{retrievedConfigServer.timeoutFileSystem.hh}} (input)="onInputConfig($event)" id="TOhh">
         <span class='labelShort'>Minute(s)</span><input type="text"  class='configInputShort textCenter'   value={{retrievedConfigServer.timeoutFileSystem.mn}} (input)="onInputConfig($event)" id="TOmn"></div>  

        <span class="theLine" style="margin-left:20px;"> <span class='label'>Buffer TO : hour</span><input type="text"  class='configInputShort textCenter'   value={{retrievedConfigServer.timeoutFileSystem.bufferInput.hh}}  (input)="onInputConfig($event)" id="bufferTOhh">
        <span class='labelShort'>Minute(s)</span><input type="text"  class='configInputShort textCenter'  value={{retrievedConfigServer.timeoutFileSystem.bufferInput.mn}}  (input)="onInputConfig($event)" id="bufferTOmn"></span> 
        
        <span class="theLine" style="margin-left:20px;"> <span class='label'>Buffer Input : hour</span><input type="text"  class='configInputShort textCenter'  value={{retrievedConfigServer.timeoutFileSystem.bufferTO.hh}} (input)="onInputConfig($event)" id="bufferInputhh">
         <span class='labelShort'>Minute(s)</span><input type="text"  class='configInputShort textCenter'  value= {{retrievedConfigServer.timeoutFileSystem.bufferTO.mn}} (input)="onInputConfig($event)" id="bufferInputmn"></span>    
        
        <div class="theLine"  style="height:15px;"> <span class='label'>User specific</span></div>
        <div *ngFor="let tab of retrievedConfigServer.UserSpecific; let i=index">
            <span class='labelShort'  style="margin-left:10px; width:50px;" > Id:</span><input type="text"  class='configInput' value={{tab.theId}}  (input)="onInputFileToCache($event)" id="idxx-{{i}}"> 
            <span class='labelShort' style="margin-left:1px; width:50px;">Type: </span><input type="text"  class='configInput'   value={{tab.theType}} (input)="onInputFileToCache($event)" id="type-{{i}}"> 
            <span class='labelShort' style="margin-left:1px; width:50px;"> Log:</span> <input type="text"  class='configInput'    value={{tab.log}} (input)="onInputFileToCache($event)" id="logx-{{i}}"> 
        </div>
        <div class="skipLine"></div>
    </div>
</div>
<div class="skipLine"></div>
<div *ngIf="this.EventHTTPReceived[13]===true " style="margin-left:20px; width:603px; display:inline-block; border: solid 2px green;  ">
    <div *ngIf="tabOfConfig.length>0" style="width:600px; display:inline-block; background-color: rgb(246, 125, 125); ">
        <div style="width:100%; display:inline-block; text-align: center; height:40px; font-size: 16px; padding-top:10px;">
            List all records of configuration server
        </div>
        <div *ngFor="let tab of tabOfConfig; let i=index;"  id="sel-{{i}}" (click)="onSelConfig($event)"  style="height:30px; width:99%; display:inline-block;" >
           
                <div id="sel-{{i}}" style="height:25px; margin-left:5px; width:98%; display:inline-block;" [ngClass]="{'even':i % 2 === 0, 'odd':i % 2 !==0}">
                    <span  id="sel-{{i}}" style="color:blue; width:30px; display:inline-block; margin-left:10px;" >Id </span><span  id="sel-{{i}}" style="color:black; width:230px; display:inline-block;" >{{tabOfId[i]}}</span>
                    <span  id="sel-{{i}}" style="color:blue;  width:40px; display:inline-block;" >Title </span><span  id="sel-{{i}}" style="color:black; width:100px; display:inline-block;" >{{tab.title}} </span>
                    <span  id="sel-{{i}}" style="color:blue;  width:30px; display:inline-block;" >Env </span><span  id="sel-{{i}}" style="color:black; width:60px; display:inline-block;" >{{tab.test_prod}}</span>
                </div>
        </div>
    </div>
</div>
<div class="skipLine"></div>
<div *ngIf="currentAction!=='' && currentAction!=='get list metadata for all objects' && currentAction!=='get metadata for one object' && currentAction!=='list all objects' && currentAction!=='list all buckets' 
            && currentAction!=='get memory File System' && currentAction!=='get memory File System' && currentAction!=='cache console' 
            && currentAction!=='list config'" class="response" style="width:700px;  display:inline-block;">
            
            <div style="height:30px; font-size:18px; text-align:center; background-color:cyan; width:600px; display:inline-block; border:solid 2px green;"> Response on action {{currentAction}}</div> 

            <div style="background-color:cyan; width:600px;  border:solid 2px green; ">
                <div *ngIf="returnFileContent!==''" style='display:block; font-size:14px; width:570px; overflow-y:scroll; height:300px;  overflow-y:scroll; font-style: normal; margin-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; text-align: left;'>{{returnFileContent}} </div>
                 <span *ngIf="error!==''" style='font-size:10px; font-style: normal;'>{{error}} </span>
            </div>
</div>

<div class="skipLine"></div>
<div *ngIf="isInputMetadata===true" style=' width:600px; display:inline-block;  margin-left:20px; border: solid 2px blue;'> <!--  *ngIf="currentAction==='updateMetadata' -->
    <h2 style="margin-left:230px;">Create metadata & update {{theForm.controls['srcObject'].value}} in {{theForm.controls['srcBucket'].value}}</h2>
    <form [formGroup]="theForm" >
    <div style="margin-top:8px;">
        <span class="theLine">
            <label class="label">Controls</label> <input type="text" class="theInput" formControlName="metaControl">
        </span>
        <span class="theLine">
            <label class="label">Type</label> <input type="text" class="theInput" formControlName="metaType">
        </span>
       
    </div>
    </form>
    <div style="max-height:50px; overflow-y:scroll">
        <div *ngFor="let tab of tabMetaPerso; let i=index" >
            <label style="width:80px; padding-left:10px;">Key {{i}}</label> <input style="width:200px; background-color:lightgrey" type="text" id="K-{{i}}" (input)="inputMetaPerso($event)" value="{{tab.key}}">
            <label style="width:80px; padding-left:10px;">Value {{i}}</label> <input style="width:200px; background-color:lightgrey" type="text" id="V-{{i}}" (input)="inputMetaPerso($event)"  value="{{tab.value}}">
        </div>
    </div>
    <span *ngIf="strMetaDataPerso!==''">
        <span class="theLine"><span  class='label'>metadataPerso</span><span class='theMetadata'>{{strMetaDataPerso}}</span></span>
    </span> 
    <span *ngIf="metaDataMsg!==''">
        <span class="theLine"><span  class='label'>Server msg</span><span class='theMetadata'>{{metaDataMsg}}</span></span>
    </span>
    <button class="sizeButtons" style="width:80px;margin-top:10px; height:35px; margin-left:230px;" id="1" (click)="actionUpdateMeta()">Submit</button>
    <div class="skipLine" >&nbsp;</div>
</div>


<div class="skipLine"></div>
<div class="skipLine"></div>