

.label{
    width:150px; color:blue; font-size:14px; display:inline-block; text-align: left; padding-left:10px;
}

.theInput{
    width:300px; color:blue; font-size:14px; display:inline-block; background-color: lightgrey;
}

.theInput:hover {
    background-color: cyan;
}

.theMetadata{
    width:60%; color:blue; font-size:12px; display:inline-block; 
}

.theLine{
    width:100%; color:blue; font-size:12px; display:inline-block; 
}

.sizeButtons{
    width:60px;
    height:22px;
    font-size:10px;
    margin-left:10px;
    background-color:cyan;
    border-radius: 5px;
    background-image: linear-gradient(cyan, lightcyan);
    box-shadow: 2px 2px blue;
    border: solid 1px blue;
}

.sizeButtons:hover{
    background-color:rgb(48, 89, 159);
    background-image: linear-gradient(rgb(97, 166, 206), rgb(63, 153, 206));
  }


.error{
    color:red;
    font-size:12px;
    background-color:cyan;
    display:contents;
  }

  .skipLine{
    margin-left:5px;
    width:95%;
    height:4px;
    display:inline-block;
    border:solid red 0px;
   
  }


.dropdown {
    position: relative;
    display: contents; 
  }
  

.Straight-content{
    position: absolute;
    z-index: 1;
  }

.StraightDropDown{
    margin-top:20px;
    width:305px;
    height: 260px;
    border: 0px solid green;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: lightgrey;
    margin-left:40px;
  }


    
.Straight-options{
    width:100%;
    font-size:12px;
    height:25px;
    color:black;
    text-align: left;
    padding-left:5px;
    padding-top:4px;
    border:0px; 
    display:inline-block;
    float:none;
  }

.Straight-options:hover{
    background-color:rgb(36, 199, 85);
  }

.theList{
   width:45%; 

  font-size:16px; height:25px;  padding-top:2px; width:100%; display:inline-block; padding-left:10px;
}

.theList:hover{
  background-color: lightgreen;
}

.response{
    display:inline-block; width:80%; height:10px; color:blue; margin-left:20px; 
}

.odd{
    background-color: cyan;
}

.even{
    background-color: lightgrey;
}