<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>


<div style=" max-width: 440px; ">
    <span style="width:94%; background-color: cyan; margin-left:10px; border:solid 2px red; display:inline-block; ">
        <span style="width:100%; color:#0000ff; font-size:22px; display:inline-block; text-align: center; padding-top:10px; height:50px;"> Select the apps </span>
        <br>
        <span class="options" >1. XMV Company</span>
        <span class="options" >2. Logos</span>
        <span class="options" >3. Telephone</span>
        <span class="options" >4. Slider</span>
        <span class="options" >5. ColorPicker</span>
        <span class="options" >6. Encrypt</span>
        <span class="options" >7. CSSTable</span>
        <span class="options" >8. Upload File</span>
        <span class="options" >9. Save & Download</span>
        <span class="options" >10. Converter</span>
        <span class="options" >11. Calories & Fat</span>
        <span class="options" >12. Health data</span>
        <span class="options" >13. Health Chart</span>
        <span class="options" >14. Recipe</span>
        <span class="options" >15. Dictionnairy for recipe</span>

        <br><br>
    </span>
    <input style="width:80px; height:30px; margin-left:150px; margin-top:20px;"  placeholder="selection#" type="text" (input)="onInput($event)">
    <button class="sizeButtons"  (click)="onSelectApps()">Submit</button>
</div>
<div id="posTopMain" ></div>
<div *ngIf="isAppsSelected===true && isIdRetrieved===true && this.isConfigServerRetrieved===true">
    <div *ngIf="selectApps===1 ">
        <app-xmv-company [configServer]="configServer" [INidentification]="identification" [XMVConfig]="XMVConfig" [isConfigServerRetrieved]="isConfigServerRetrieved"
        [InConvertUnit]="ConvertUnit" [InConvToDisplay]="ConvToDisplay" [IntheTabOfUnits]="theTabOfUnits"  [InWeightRefTable]="WeightRefTable" 
        >
    </app-xmv-company>
    </div>
   
    <div *ngIf="selectApps>1 && selectApps<10" style="float:none;">
       
        <app-routing-app [selectApps]="selectApps"> </app-routing-app>
    </div>
    <div *ngIf="selectApps===10">
        <app-converter  [identification]="identification" [XMVConfig]="XMVConfig" [configServer]="configServer" [convertOnly]="convertOnly" 
        [InConvertUnit]="ConvertUnit" [InConvToDisplay]="ConvToDisplay" [IntheTabOfUnits]="theTabOfUnits"  [InWeightRefTable]="WeightRefTable" (returnFile)="ReceiveFiles($event)"     
        >
        </app-converter>
    </div>  
    
    <div *ngIf="selectApps>10  &&  selectApps<14">
        
        <app-health  [identification]="identification" [XMVConfig]="XMVConfig" [configServer]="configServer"  [triggerFunction]="selHealthFunction"
        (returnFile)="ReceiveFiles($event)"     
        >
        </app-health>
    </div>  

    <div *ngIf="selectApps===14 || selectApps===15">
        <app-recipe  [identification]="identification" [XMVConfig]="XMVConfig" [configServer]="configServer"  
         [InConvToDisplay]="ConvToDisplay"     [dictionaryOnly]="dictionaryOnly"
        >
        </app-recipe>
    </div>  

</div>
  


</body>



<router-outlet></router-outlet>
