<head>

</head>


<body>
 
<div class='boxsection'>
               
        <div   >
                
                <span class="mat-dialog-title"> Search
                </span >

                <button class="cancelbutton" (click)="onCancel()">X</button>
        
                <input  class = "form-control inputsize" formControlName="Mysearchstring" type="text" > 
      
                <button mat-button   class="okbutton"     
                        (click)="onConfirmClick()" >OK</button>
        
        </div> 
</div>

</body>