<head>

</head>


<body>
 
<div class='boxsection'>
               
        <md-dialog-container   [formGroup]="searchgeneralform" >
                
                <mat-dialog-title class="mat-dialog-title"> Search
                </mat-dialog-title >

                <button class="cancelbutton" (click)="onCancel()">X</button>
        
                <input  class = "form-control inputsize" formControlName="Mysearchstring" type="text" > 
      
                <button mat-button   class="okbutton"     
                        (click)="onConfirmClick()" >OK</button>
        
        </md-dialog-container> 
</div>

</body>