/* define header */


div {
    margin: 5px;
    width: 310px;
    height: 3px;
    margin-top: 20px;
}


.options {
    font-size: 18px;
    color: black;
    font-weight: bold;
    float:left;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

.icons {
    width: 50px;
    float:right;
    text-align: center;
    margin-top: 10px;
}

.logo {
    margin: 10px;
    float:left;
}

.size_logo{
    width:150px; 
    height:50px;
}



 /*** ====================================== ***/
    /*** ============== @media 1420 ================ ***/
    /*** ====================================== ***/
    @media only screen and (max-width: 1420px) {
        div {
            margin: 5px;
            width: 100%;
            height: 3px;
            margin-top: 20px;
        }
        
        
        .options {
            margin-top:30px;
            font-size: 12px;
            width: 13%;

        }
        
        .icons {
            width:8%
        }

 
        

        
        

    }