
  
  .color-slider{
    color:black;
    border:solid 4px blue;
    display:block;
  }

  .color-slider:hover {
    cursor: pointer;
  }



/*
position:absolute;
    margin-left:20px;
     margin-top: 0px;
*/
  