<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <!--
  <br> Device type is {{device_type}}
  <br> Screen width = {{getScreenWidth}}
  <br> Screen height = {{getScreenHeight}}
  <br><br>
  </div>

          <audio  controls autoplay loop height="" width="">
        <source src="./It's A Beautiful Day.mp3" type="audio/mpeg">
      </audio>


      
  --> 
  

  <div >
      <div >
          <img   class='sizeMap'  src="./assets/Sainte Croix.JPG" >
      </div>
      
      <span class="emoji  anim-name-slidedown" style="margin-left:2%; animation-duration: 18s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:12%; animation-direction: alternate;animation-duration: 10s;">🍾</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:15%; animation-duration: 8s;animation-delay:3s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:24%; animation-duration: 4s; animation-delay:2s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:36%; animation-direction: alternate;animation-duration: 4s;">🍾</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:48%; animation-duration: 4s; animation-delay:4s">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:58%; animation-direction: alternate;animation-duration: 14s;">🍾</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:68%; animation-duration: 14s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:78%; animation-duration: 8s; animation-delay:5s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:88%; animation-direction: alternate;animation-duration: 8s;">🍾</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:92%; animation-duration: 18s;">🥂</span>

      <span class="emoji  anim-name-slidedown" style="margin-left:2%;  animation-direction: alternate;animation-duration: 16s;">🍾</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:12%; animation-duration: 7s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:24%; animation-duration: 11s; animation-delay:5s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:27%; animation-duration: 13s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:36%; animation-duration: 9s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:48%; animation-duration: 6s; animation-delay:2s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:58%; animation-duration: 18s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:68%; animation-duration: 7s; animation-delay:5s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:78%; animation-duration: 10s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:88%; animation-duration: 16s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:92%; animation-direction: alternate;animation-duration: 12s;">🍾</span>


      <span class="emoji  anim-name-slidedown" style="margin-left:2%;  animation-duration: 12s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:12%; animation-duration: 8s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:24%; animation-duration: 16s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:28%; animation-direction: alternate;animation-duration: 8s;">🍾</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:36%; animation-duration: 12s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:48%; animation-duration: 8s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:58%; animation-direction: alternate;animation-duration: 12s;">🍾</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:68%; animation-duration: 8s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:78%; animation-duration: 16s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:88%; animation-duration: 8s;">🥂</span>
      <span class="emoji  anim-name-slidedown" style="margin-left:92%; animation-duration: 12s;">🥂</span>
      
      <div class="overlap_image">
        <div class="dropdown-options" (click)="goDown('targetRules')"><span class="dropdown-text"  >Guidelines</span></div>
        <div class="dropdown-options" (click)="goDown('targetDirection')"><span class="dropdown-text"  >Address</span></div>
        <br> 
        <div class="main_box">
         
         
          <!--
             <span class="em em-champagne animicon  anim-name-normal">🥂</span>
          <span class="em em-champagne animicon  anim-name-normal">🍾</span>
          <i class="em em-champagne animicon dir-reverse anim-name-slidein" aria-role="presentation" aria-label="CLINKING GLASSES"></i>
          <i class="em em-champagne animicon dir-alternate anim-name-normal" aria-role="presentation" aria-label="BOTTLE WITH POPPING CORK"></i>
          <i class="em em-champagne animicon alternate-reverse anim-name-slidein" aria-role="presentation" aria-label="Clinking Glasses"></i>
         -->
        
          <h1> Monica & Xavier </h1> <h1>are delighted</h1>  <h1>to welcome you </h1>
          
          
            <!--
            <i class="em em-champagne" style="font-size:32px;" aria-role="presentation" aria-label="BOTTLE WITH POPPING CORK"></i>
            -->
            <h2 >on 27 Aug 2022 </h2>
            
  
             <!-- <span style='font-size:40px;'>🍾  🥂 </span> -->
            <h2>at </h2><h1>Chateau de la Begude </h1>
            
           

        </div>
      </div>
  </div>
 

  <div class="myText">
    <span id='targetRules'></span>
    
    <span style='font-weight:bold;'><br>Guidelines</span>
    <br><br>
   
      <br><br>
      We hope that you are as excited as us both, to have a lot of fun during our celebration 🍾 🎉 🎊 on 2 Jul.
      <br><br>
      <h2>See you very soon!</h2>
      <br><br>

    <span id='targetDirection'></span>
    <span style='font-weight:bold;'>Address</span>
    <br>
      <br>  Opio

      
  </div>
</body>
